@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&family=Pacifico&display=swap');

.navbar{
    background: #ffffff;
    height: 6rem;
    .tackel{
        margin: 5rem;
        .collapse{
            >.navbar-brand{
                font-size: 2rem;
               font-family: 'Open Sans';
            }
            >ul{
                *{
                    margin: 0.5rem;
                    font-size: 1rem;
                    font-family: 'Open Sans', sans-serif;
                }
                >.dropdown{
                    margin: 0.7rem;
                }
            }
        }
    }
}

