@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&family=Pacifico&display=swap');

.navbar{
    background: rgb(141, 147, 228);
    height: 6rem;
    .tackel{
        margin: 5rem;
        .collapse{
            >.navbar-brand{
                font-size: 2.5rem;
               font-family: 'Pacifico', cursive;
            }
            >ul{
                *{
                    margin: 0.5rem;
                    font-size: 1rem;
                    font-family: 'Open Sans', sans-serif;
                }
                >.dropdown{
                    margin: 0.7rem;
                }
                SearchInput{
                    background: red;
                }
            }

        }
    }
}

